:root{
    --secondary-color: #44d62c;


}

.text-justify{
    text-align: justify;
}

#botonEliminar{
    color: var(--secondary-color);
}

body{
    background-image: url(../media/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.productosSection{
    background-color: hsl(0, 0%, 80%);
}

#form-envio .forma-envio{
    height: 100px;
    
} 

#form-tarjeta .forma-pago{
    height: 100px;
    
} 

#imgPaginaProducto{
    width: 615px;
    height: 600px;
}

#verMetodosPago{
    cursor: pointer;
}

@media (min-width:1440px) {
    .columnaPagina{
        width: 28.02%;
        height: 1500px;
    }
}

